@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a Tour and Travel guide for people looking to take vacations in places you they have not been to before.</p>
<p>This platform helps us render our services to you anywhere in the world, removing the stress and giving you peace of mind on the vacation.</p>
