@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Our Physical Address:<br />
    No 9, Segun Owolabi street, New Bodija Ibadan<br />
    <abbr title="Phone">P:</abbr>
    +234 805 751 0443
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:oluwayemiayo22@gmail.com">oluwayemiayo22@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:oluwayemiayo22@gmail.com">oluwayemiayo22@gmail.com</a>
</address>